# Electron 编译产物
DinoPet.exe
DinoPet.lnk
version
LICENSE
LICENSES.chromium.html
locales/
resources.pak
chrome_*.pak
d3dcompiler_47.dll
ffmpeg.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
snapshot_blob.bin
v8_context_snapshot.bin
vk_swiftshader_icd.json
vulkan-1.dll
dxcompiler.dll
dxil.dll
vk_swiftshader.dll
electron.exe
electron-*.zip
*.mp4
*.webm
*.ogg
convert_icon.cs
resources/app/icon.png
node_modules/
**/node_modules/
dist/
